<form action="/add" method="post">
  <label for="name">
    Name:<br><br>
    <input type="text" name="name">
  </label>
  <br><br>
  <label for="link">
    Link:<br><br>
    <input type="text" name="link">
  </label>
  <label for="tag">
    Link:<br><br>
    <input type="text" name="tag">
  </label>
  <input type="submit" value="Submit">
</form>
