<form action='/links' method='POST'>
  <label for='Title'>
    Title:<br><br>
    <input type="text" name='title'>
  </label>
  <br><br>
  <label for="URL">
    URL:<br><br>
    <input type="text" name='url'>
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>