<form action="/links" method="post">
  <label for="title">
    Title:<br><br>
    <input type="text" name="title">
  </label>
  <br><br>
  <label for="url">
    Url:<br><br>
    <input type="text" name="url">
  </label>
  <label for="tag">
    Tag:<br><br>
    <input type="text" name="tag">
  </label>
  <input type="submit" value="Submit">
</form>
