<h1> New Link </h1>

<form action="/links" method="post">
  <label for="title">
    Title:<br><br>
    <input type="text" name="title">
  </label>
  <br><br>
  <label for="url">
    Url:<br><br>
    <input type="text" name="url">
  </label>
  <br><br>
  <label for='tags'>
    Tags:<br><br>
    <input type='text' name='tags' />
  </label>
  <br><br>
  <input type="submit" value="Create link">
</form>
